<%= form_for([:admin, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Título" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body, "Texto" %><br>
    <%#= f.text_area :body %>
   <%= f.text_area :body, :class => 'ckeditor' %>
  </div>
  <div class="field">
    <%= f.label :category_id, "Categoria" %><br>
     <%= f.select :category_id, Category.all.collect { |category| [ category.title, category.id ] }, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
